<ion-header style="margin: 0%; padding:0%;">
    <div class="dashboard-header-container" style="z-index: 0">
        <button style="background: none; float: right; padding: 11px; margin-right: 5px;" (click)="logout()">
            <img src="assets/icon/logout.png" height="30px"  width="30px">
        </button>
    </div>
  </ion-header>
  <ion-content>

    <ion-row>
        <ion-col size-sm="12" style="margin: 0%; padding:0%;">
            <div class="search-box-subheader">
                <ion-grid class="searchbar-container">
                    <ion-icon class="searchbar-icon" name="search"></ion-icon>
                    <input [(ngModel)]="searchText" class="searchbar-input" type="text" placeholder="Search notes"> 
                </ion-grid>
            </div>
    <!-- 
            <div class="dropdown">
                <button type="button" data-toggle="dropdown">Dropdown Example
                <img src="assets/icon/sort-button.png" height="30px"  width="30px"></button>
                <ul class="dropdown-menu">
                    <li value="new">New Notes</li>
                    <li value="old">Old Notes</li>
                </ul>
            </div> -->

            <ion-select (ionChange) = "sortBydate($event.target.value)" style="background: none; position: absolute; top: 10%; right: 3%; ">
                <ion-select-option value="new">Newest First</ion-select-option>
                <ion-select-option value="old">Oldests First</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
            
    <!-- <ion-row>
        <ion-col size-sm="12">
         <div class="sort-option">
                    <ion-select okText="Ok" cancelText="Dismisss" (ionChange) = "sortBydate($event.target.value)">
                        <ion-select-option value="new">Newest First</ion-select-option>
                        <ion-select-option value="old" >Oldests First</ion-select-option>
                    </ion-select>
            </div>
        </ion-col>
    </ion-row> -->
    <ion-grid style="margin: 5px;">
        <ion-row>
                <ion-col size="6" *ngFor="let item of noteList | searchfilter : searchText  ; let i=index; ">    
                    <ion-card class="list-card" (click)="updateNote(i)">             
                        <ion-card-title class="list-card-title">{{item.title}}</ion-card-title>
                        <ion-card-content class="card-content"><p class="list-card-content">{{item.desc}}</p></ion-card-content>
                        <ion-grid class="card-footer-wrapper">
                            <ion-card-subtitle class="date" >{{item.todaysDate | date:'medium'}}</ion-card-subtitle>
                            <button (click)= "deleteNote(i)" style="display: block; background: none; border:none;">
                                <ion-icon style="font-size: 2.1em; font-weight: 800; color: #b5b5b5" name="trash"></ion-icon>
                            </button>
                        </ion-grid>
                    </ion-card>
                </ion-col>
        </ion-row>
    </ion-grid>
    <div class="add-note-wrapper">
        <button (click)="addNote()" style="background: none; position: fixed; bottom: 15px; right: 10px;"><img class="add-note-img" src="assets/icon/hdpi/ic_add_hdpi.png" height="70px" width="70px;"></button>
    </div>
</ion-content>