<ion-header style="margin: 0%; padding:0%;">
    <div class="dashboard-header-container" style="z-index: 0">
        <button style="background: none; float: right; padding: 11px; margin-right: 5px;" (click)="logout()">
            <img src="assets/icon/logout.png" height="30px"  width="30px">
        </button>
    </div>
  </ion-header>

  <ion-content>
    <ion-col class="subheader-container">
      <div class="subheader-wrapper">
          <ion-row>
              <ion-col size="8">
                <div class="searchbar-container">
                    <ion-grid >
                        <ion-icon class="searchbar-icon" name="search"></ion-icon>
                        <input [(ngModel)]="searchText" class="searchbar-input" type="text" placeholder="Search notes"> 
                    </ion-grid>
                </div>
               
              </ion-col>
              <ion-col size="4" style="padding: 11px;">
                <div class="box">
                    <ion-select interface="popover" (ionChange) = "sortBydate($event.target.value)">
                        <ion-select-option value="new">Newest</ion-select-option>
                        <ion-select-option value="old">Oldest first</ion-select-option>
                    </ion-select>
                  </div>
              </ion-col>
          </ion-row>
      </div>
  </ion-col>


    <ion-grid style="margin: 5px; margin-top: 60px;">
        <ion-row>
                <ion-col size="6" *ngFor="let item of noteList | searchfilter : searchText  ; let i=index; ">    
                    <ion-card class="list-card" (click)="updateNote(i)">             
                        <ion-card-title class="list-card-title">{{item.title}}</ion-card-title>
                        <ion-card-content class="card-content"><p class="list-card-content">{{item.desc}}</p></ion-card-content>
                        <ion-grid class="card-footer-wrapper">
                            <ion-card-subtitle class="date" >{{item.todaysDate | date:'medium'}}</ion-card-subtitle>
                            <button (click)= "deleteNote(i)" style="display: block; background: none; border:none;">
                                <ion-icon style="font-size: 2.1em; font-weight: 800; color: #b5b5b5" name="trash"></ion-icon>
                            </button>
                        </ion-grid>
                    </ion-card>
                </ion-col>
        </ion-row>
    </ion-grid>
    <div class="add-note-wrapper">
        <button (click)="addNote()" style="background: none; position: fixed; bottom: 15px; right: 10px;"><img class="add-note-img" src="assets/icon/hdpi/ic_add_hdpi.png" height="70px" width="70px;"></button>
    </div>
</ion-content>