<ion-header style="margin: 0%; padding:0%;">
     <div class="dashboard-header-container">
            
        </div>
  </ion-header>


  <ion-content>


    <ion-row style="margin: 0%; padding:0%;">
        <ion-col size-sm="12" style="margin: 0%; padding:0%;">
            <div class="dashboard-container">
                <ion-grid class="searchbar-container">
                    <ion-icon class="searchbar-icon" name="search"></ion-icon>
                    <input [(ngModel)]="searchText" class="searchbar-input" type="text" placeholder="Search notes"> 
                </ion-grid>
            </div>
            
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12">
         <div class="sort-option">
                <ion-item>
                    <ion-label>Sorting</ion-label>
                    <ion-select okText="Ok" cancelText="Dismisss" (ionChange) = "sortBydate($event.target.value)">
                        <ion-select-option value="new">Newest First</ion-select-option>
                        <ion-select-option value="old" >Oldests First</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-col>
    </ion-row>
    <ion-grid style="margin: 5px;">
        <ion-row>
                <ion-col size="6" *ngFor="let item of noteList | searchfilter : searchText  ; let i=index; ">    
                    <ion-card class="list-card" (click)="updateNote(i)">             
                        <ion-card-title class="list-card-title">{{item.title}}</ion-card-title>
                        <ion-card-content class="card-content"><p class="list-card-content">{{item.desc}}</p></ion-card-content>
                        <ion-grid class="card-footer-wrapper">
                            <ion-card-subtitle class="date" >{{item.todaysDate | date:'medium'}}</ion-card-subtitle>
                            <button (click)= "deleteNote(i)" style="display: block; background: none; border:none;">
                                <ion-icon style="font-size: 2.1em; font-weight: 800; color: #b5b5b5" name="trash"></ion-icon>
                            </button>
                        </ion-grid>
                    </ion-card>
                </ion-col>
        </ion-row>
    </ion-grid>
    <div class="add-note-wrapper">
        <button (click)="addNote()" style="background: none; position: absolute; bottom: 2%; right: 1%;"><img class="add-note-img" src="assets/icon/hdpi/ic_add_hdpi.png" height="70px" width="70px;"></button>
    </div>
</ion-content>