
<ion-content>
    <ion-grid style="padding: 0; margin: 0;">
            <ion-row>
                    <ion-col size-sm="8" style="padding: 0; margin: 0;">
                        <div class="auth-header-container">
                            <ion-icon slot="start" (click)="back()" class="header-icon" name="arrow-round-back"></ion-icon>
                            <p class= "text-center page-header-txt">Reset Password</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size-sm="8" >
                      <form [formGroup]="resetPassForm"  >
                            <div class="justify-content-center login-container">
                           
                                    <div class="ion-text-center info-txt">
                                      <p class="ion-text-nowrap"><span>Set password to your account.</span></p>
                                    </div>
                               
                                <div class="form-group ion-margin-bottom input-container">
                                    <ion-grid class="input-wrapper">
                                        <ion-icon class="input-icon" style="font-size: 1.7em;" name="lock"></ion-icon>
                                        <input formControlName= "password" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false" placeholder="Password"  class="form-control input-txt"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                                        <button ion-button class="pass-btn" (click)="onPasswordToggle('password')">
                                            <ion-icon class="input-icon" [name]="showPassword ? 'eye-off' : 'eye'" ></ion-icon>
                                        </button>
                                    </ion-grid>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="error-messages">
                                    <span *ngIf="f.password.errors.required">*Password is required</span>
                                    <span *ngIf="f.password.errors.minlength">*Password must be at least 6 characters</span>
                                </div> 
                                <div class="form-group input-container">
                                      <ion-grid class="input-wrapper">
                                         <ion-icon class="input-icon" style="font-size: 1.7em;" name="lock"></ion-icon>
                                         <input formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm password" class="form-control input-txt" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                         <button ion-button class="pass-btn" (click)="onPasswordToggle('confirmPassword')">
                                            <ion-icon class="input-icon" [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
                                        </button>
                                        </ion-grid>
                                </div> 
                                <div *ngIf="submitted && f.confirmPassword.errors" class="error-messages">
                                    <span *ngIf="f.confirmPassword.errors.required">*Confirm Password is required</span>
                                    <span *ngIf="f.confirmPassword.errors.mustMatch">*Passwords must match</span>
                                </div>
                                <div class="form-group btn-wrapper" style="position: relative;">
                                      <button class="round-button item-txt" (click)="updatePassword()"
                                          text-center shape="round" style="position: absolute; 
                                          top: 150px; right: 3px;"><span style="text-align: center">DONE</span>
                                      </button>
                                </div>
                           
                            </div>
                      </form>
                         
                    </ion-col>
                </ion-row>
    </ion-grid>
    
</ion-content>
