<ion-content>
    <ion-grid style="padding: 0; margin: 0;">
            <ion-row>
                    <ion-col size-sm="8" style="padding: 0; margin: 0;">
                        <div class="auth-header-container">
                            <ion-icon slot="start" (click)="back()" class="header-icon" name="arrow-round-back"></ion-icon>
                            <p class= "text-center page-header-txt">Forgot Password</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size-sm="8">
                        <form [formGroup]="forgotForm" (ngSubmit)="sendCode()">
                            <div class="justify-content-center login-container">
                                <div class="ion-text-center info-txt">
                                    <p class="ion-text-nowrap"><span>We will send the verification code to your email-id.</span></p>
                                </div>
                                <div class="form-group input-container">
                                    <ion-grid class="input-wrapper">
                                        <ion-icon class="input-icon" name="mail"></ion-icon>
                                        <input formControlName= "email" class="input-txt" type="email" placeholder="Email-id">
                                    </ion-grid>
                                </div>
                                 <!-- Error Message for email-->
                                <div class="error-messages">
                                    <ng-container *ngFor="let error of error_message.email">
                                        <span class="error-message" *ngIf="forgotForm.get('email').hasError(error.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
                                            {{ error.message }}
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="btn-wrapper" style="position: relative;">
                                    <button  class="round-button item-txt" type="submit" 
                                        text-center shape="round" style="position: absolute; 
                                        top: 150px; right: 3px;"><span style="text-align: center">SEND CODE</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                </ion-col>
            </ion-row>
    </ion-grid>
 </ion-content>
