/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/**********Auth Style************/
.login-header-container{
    background: linear-gradient(to right, #f1c40f, #f39c12);
    text-align: center;
    color: #ffffff;
    
    height: 230px;
}
.login-container{
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.login-header-txt{color: #fffffe; 
    font-size: 1.3em; 
    font-weight: 600; 
    margin-bottom: 0;
    padding: 15px;
}
.logo{   
     height: 80px;
    width: 80px;
    margin-top: 30px; 
}
.logo-header-txt{color: #fffffe; margin-top: -4px; font-size: 1.3em; font-weight: 400; position: relative;}
.header-txt{color: #fffffe; position: absolute; top: 70%; left: 43%; font-size: 1.3em; font-weight: 600;}
.input-container{
    border: 1px solid #A09A97;
    border-radius: 500px;
    width: 100%;
    height: 3.7em;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px;
}
.input-wrapper{ display: flex; padding: 15px;}
.icon{ padding:3px; margin-right: 5px;}
.input-icon{color: black; font-size: 1.7em; padding:3px;}
.input-txt{ border: none; width: 100%; height: 24px; font-size: 1.2em; }

.error-messages{
    font-size: 0.8em;
    color: orangered;
    text-align: center;
    margin: 10px;
}
.link-txt{color: black; font-weight: 600;}
.round-button{
    width: 100%;
    height: 3.7em;
    border-radius: 500px;
    background: linear-gradient(to right, #f1c40f, #f39c12);
    line-height: 0%;
}
.round-button, .btn-txt{ color: #fffffe; text-align: center; font-size: 1em; font-weight: 500;}

.auth-header-container{    
    height: 200px;
    background: linear-gradient(to right, #f1c40f, #f39c12);
    text-align: center;
    color: #ffffff;
    position: relative;
}
.header-icon{position: absolute; top: 14px; left: 5px; color: #ffffff; font-size: 2em; font-weight: 700;}
.page-header-txt{font-size: 1.3em; font-weight: 600; position: absolute; top: -10%; left: 35%;}
.info-txt{color: #7d7a7afc; font-size: 0.9em; }



.txt-input{ color: #A09A97; font-size: 0.9em; margin-left: 8%; line-height: 0.6rem;}
.txt-input-intro{ color: #A09A97; font-size: 0.9em; font-weight: 500; line-height: 0.6rem; margin-top:20%; margin-left: 8%;}


.round-button-center{
    width: 75%;
    height: 3.7em;
    border-radius: 500px;
    background: linear-gradient(to right, #f1c40f, #f39c12);
    position: absolute;
    top: 196%;
    right: 13%;
    line-height: 0%;
}
.otp-container{text-align: center;}

.otp-input{
 width: 60px;
 height: 60px;
 border: 2px solid black;
 border-radius: 24%;
 text-align: center;
 margin: 5px;
}

.auth-footer{
    position: relative;
}

.pass-btn{ border: none; background: none;}

/**********DASHBOARD Style************/

.dashboard-header-container {
    height: 55px;
    background: linear-gradient(to right, #f1c40f, #f39c12);
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    z-index: 999;
}
.header-back{font-size: 35px}
.header-name{margin: 0; padding: 5px; text-align: center; font-size: 23px;}
.header-save{background: none; float: right; padding: 5px;}
.dashboard-container{
    height: 55px;
    background: #f8e087;
    color: #ffffff;
    z-index: 999;
}
.dashboard-add-icon{position: absolute; top: 37px; right: 20px;}
.addNote-container{height: 40px; margin: 5px; padding: 10px;}
.dashboard-input{ padding: 5px; margin: 5px;}
.note-description{ height: 350px; border: 1px solid #F7F7F7; background-color: #F7F7F7;}
.addTxtArea{padding: 5px; 
    margin: 5px; 
    color: #5f5959; 
    font-size: 19px; 
    font-weight: 500;
    border: none;
    background: transparent;
    width: 97%;
    height: 97%;}
.search-box-subheader{
    background: #f4f4f4;
    height: 55px;
    width: 100%;
}

.searchbar-container{ 
    position: absolute;
    color: #7d7d7d;
    top : 17%;
    left: 3%;
    height: 35px;
    width: 65%;
    border: 1px solid #d9d9d9;
}
.searchbar-icon{
    font-size: 1.5em;
    position: absolute;
    /* top: 40%; */
    color: #7d7d7d;
    bottom: 7%;
    left: 1%;
}
.searchbar-input{
    border: none;
    background: transparent;
    position: absolute;
    bottom: 10%;
    left: 13%;
    width: 80;
    width: 85%;
    color: #7d7d7d;
    font-size: 1.2em;
}
.searchbar-input::placeholder{color: #7d7d7d;}
.list-wrappper{ max-height: 140%; min-height: 100%; width: 50%; }
.list-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 220px;
    max-height: 260px;
    margin: 0%;
  }
  
  .list-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }

  .list-card-title{
      font-size: 1.3em;
      margin: 10px;

  }
  .card-content{
    min-height: 120px;
    max-height: 150px;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 16px;
    font-weight: 400;
  }
  .list-card-content{

    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    line-height: 1.2em;
    // max-width: 190px;
    // max-height: 5.5em; 
    
    text-align: justify;
    // margin: 0%;
    // padding-top: 0%!important;
    text-overflow: ellipsis!important;
    // white-space: nowrap;
    // overflow: hidden;
    // position: relative;
    word-spacing: normal!important;
  }
//   .list-card-content::before{
//     content: 'Read more...';
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     color: #f1c40f;
//   }

 
//   .list-card-content::after{
//     content: '';
//     position: absolute;
//     right: 0;
//     width: 1em;
//     height: 1em;
//   }
  .card-footer-wrapper{display: flex; position: absolute; bottom: 3%; left: 2%;}
  .list-card-subtitle { 
      margin: 10px;
  }
  .date{padding: 2px; color: #b5b5b5;}
 

